---
interface BadgeProps {
  label: string;
}
const { label } = Astro.props;
---

<span
  class={`text-sm font-medium 
  inline-flex items-center justify-center
  px-2 h-[32px] rounded-full 
  bg-gray-600
  dark:bg-gray-700 dark:text-gray-400 border light:border-gray-400  
  hover:text-orange-200 hover:border-orange-50 hover:scale-105
  transition scale duration-200 ease-in-out text-decoration-none`}
>
  <slot name='icon' />
  {label}
</span>
