<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Andres Lista</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    line-height: normal;
    box-sizing: border-box;
    font-size: 1rem;
    color-scheme: light dark;
    @apply dark:text-gray-200 light:text-gray-800;
  }

  body {
    font-family: Lato, sans-serif;
    color: #333;
  }
</style>
